.item-banner_mobile{
  display: none !important;
}

@media (max-width: 1200px) {
  .s-banner{
    .carousel-caption{
      top: 0 !important;
    }
  }
}

@media (max-width: 1200px) {
  .s-banner{
    .carousel-caption{
        .carousel-itemLogo{
          width: 175px !important;
      }
    }
  }
}

@media (max-width: 720px) {

    .item-banner_mobile{
      display: block !important;
    }
    .item-banner_desktop{
      display: none !important;
    }
    .s-banner{
      .carousel-inner{
        .carousel-item{
          height: 580px;
          .carousel-caption{
            background: rgba(255,255,255, .65);
            padding: 10px;
            margin-bottom: 25px !important;
            top: inherit !important;
            bottom: 10% !important;
          }
        }
      }
    }

}