.negative-body {
        margin-top: -3px;
}

.rotate {
        transform: rotate(180deg); /* Define o ângulo de rotação */
        transition: transform 0.3s ease; /* Adiciona uma transição suave */
}
