

.s-banner{
    .carousel-inner{
        .carousel-item{
            .carousel-caption{
                top: 15%;
                color: $primary;
                left: 15%;
                padding-bottom: 1.25rem;
                padding-top: 1.25rem;
                text-align: left;
                right: inherit;
                .carousel-itemLogo{
                    width: 300px;
                }
                h2{
                    color:$primary;
                }
            }
        }
    }

    .carousel-indicators [data-bs-target]{
        background-color: $green-black;
    }
    
}

.s-about{
    &__colSwiper{
        &--lista{
            margin-bottom: 12px;
            h6{
                font-size: large;
            }
            i{
                color: $white;
                background: $green;
                @include border-radius(50%);
                padding: 10px;
            }
        }
    }
}

.s-coleta{

    &__card{
        @include border-radius(36px);
        border-left: 8px solid $green;
        padding: 15px;
        &--leftIntro{
            text-align: center;
        }
        &--rightDescription{
            ul{
                list-style: none;
            }
        }
    }

}

.s-programas{
    // .card-reciclo{
    //     background: $orange;
    //     color: $white;
    // }
    // .card-mais{
    //     background: #deed4a;
    // }

    // .card-dados{
    //     background: #ede24a;
    // }
    &__card{
        box-shadow: 0 2px 3px 2px rgba(0,0,0, 0.15);
        @include border-radius(14px);
        width: 300px;
        height: 20rem;
        padding: 20px;
        .card-text{
            color: $gray-600;
            height: 100px;
            overflow: hidden;
        }
    }
}

.s-parceiros {
    .s-parceiros__block {
        img {
            width: 160px;
        }
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .s-content{
        h2{
            font-size: 3.0rem;
        }
    }
}

@media (max-width: 1200px) {

}
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}

@media (max-width: 540px){
    .s-banner{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    left: 0 !important;
                }
            }
        }
    }
}