

.s-banner{
    .carousel-inner{
        .carousel-item{
            .carousel-caption{
                top: 15%;
                color: $primary;
                left: 15%;
                padding-bottom: 1.25rem;
                padding-top: 1.25rem;
                text-align: left;
                right: inherit;
                .carousel-itemLogo{
                    width: 300px;
                }
                h2{
                    color:$primary;
                }
            }
        }
    }

    .carousel-indicators [data-bs-target]{
        background-color: $green-black;
    }
    
}

.s-parceiros {
    .s-parceiros__block {
        img {
            width: 160px;
        }
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .s-content{
        h2{
            font-size: 3.0rem;
        }
    }
}

@media (max-width: 1200px) {

}
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}

@media (max-width: 540px){
    .s-banner{
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    left: 0 !important;
                }
            }
        }
    }
}