$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f0f2f5;
$gray-300: #dee2e6;
$gray-400: #c2c3c9;
$gray-500: #adb5bd;
$gray-600: #727176;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000000;
$gray: #c2c3c9;

// fusv-enable

$blue: #0083e0;
$indigo: #303a85;
$purple: #6f42c1;
$pink: #d63384;
$red: #f56565;
$rose: #e52154;
$orange: #E69600;
$yellow: #FFF032;
$yellow-light: #FFE5AB;
$yellow-gold:#FCD760;
$green: #009074;
$green-light: #00cc11;
$green-black: #068106;
$teal: #f0fffe;
$cyan: #0dcaf0;


$font-color: $black;
$font-body_color: $gray-900;
$font-header: 'Dosis', serif;
$font-body: 'Dosis', sans-serif;

@font-face {
  font-family: 'Dosis', sans-serif;
  font-display: swap;
  src: url('~assets/fonts/Dosis-Medium.ttf');
}

@font-face {
  font-family: 'Dosis';
  font-display: swap;
  src: url('~assets/fonts/Dosis-ExtraBold.ttf');
}


$custom-colors: (
  "cOrange": #E69600,
  "cGreen": #009074,
  "cYellow": #FFF032,
  "bGreen-light": #e7f7ed
);

$body-color: map-get($custom-colors, 'quaternary');

$font-family-base: $font-body;
$enable-negative-margins: true;

$theme-colors: map-merge($theme-colors, $custom-colors);

@each $color-name, $color-value in $custom-colors {
  .bg-#{$color-name} {
    background-color: $color-value !important;
  }

  .text-#{$color-name} {
    color: $color-value !important;
  }

  .border-#{$color-name} {
    border-color: $color-value !important;
  }
}
