.s-rankingImages{
    background: url('../assets/assets/images/lad-student.png') no-repeat right;
    width: 896px;
    height: 550px;
    position:relative;
    background-size: contain;
}

.s-about_colText{
    background: url('../images/bgGround.png') no-repeat left;
    width: 650px;
    height: 600px;
    position:relative;
    background-size: contain;
}

.s-recycle{
    background: url('../images/bg-recycle_final.jpg') no-repeat center;
    width: 100%;
    height: auto;
    position:relative;
    background-size: 100% 100%;
}

@media (max-width: 1200px) {
    .s-about_colText{
        width: 100%;
        height: 100%;
    }
}

