{% load static %}
<section>
    <p>
        Agradecemos a sua visita à Plataforma Fortaleza Bilíngue. Neste espaço, 
        divulgamos a nossa política de utilização dos seus dados pessoais. Assim, 
        você poderá entender melhor quais informações obtemos e como as utilizamos. 
        Dedique alguns minutos do seu tempo para ler essa política e aproveitar de forma consciente e 
        segura tudo o que o Fortaleza Bilíngue tem para oferecer. Nós acreditamos que a privacidade das 
        informações pessoais é essencial para o sucesso de nossa comunidade na Internet, tornando-a um ambiente de 
        navegação o mais seguro possível. A seguir, estão descritas as regras aplicáveis à utilização do acesso digital 
        ao portal do Fortaleza Bilíngue pela Prefeitura Municipal de Fortaleza, 
        por meio da Fundação de Ciência, Tecnologia e Inovação de Fortaleza - CITINOVA. Desta forma, 
        o cadastro realizado no Fortaleza Digital poderá ser utilizado para inscrição em qualquer 
        curso que esteja cadastrado no portal.
    </p>
    <h5>INFORMAÇÕES SOBRE NOSSA POLÍTICA DE PRIVACIDADE:</h5>

    Informações dos usuários;
    <br>
    Responsabilidade dos usuários;
    <br>
    Comunicação;
    <br>
    Proibições;
    <br>
    Foro;
    <br>
    Alterações e atualização desta política;
    <br>
    Direitos autorais e licenças
    <br>
    Aceitação do termo e condições de uso.
    <br>
    <h5>3. Responsabilidade da Prefeitura de Fortaleza</h5>
    <p>
        A Prefeitura, no papel de custodiante das informações pessoais dos usuários, deve cumprir todas as legislações inerentes ao uso correto dos dados pessoais do cidadão de forma a preservar a privacidade dos 
        dados utilizados na plataforma. Publicar e informar ao usuário as futuras alterações a estes 
        Termos de Uso e Política de Privacidade por meio do 
        sítio 
        <a href="https://COLOCARSÍTIODOFORTALEZABILÍNGUE" target="_blank">(https://COLOCARSÍTIODOFORTALEZABILÍNGUE)</a>, 
        conforme o princípio da publicidade estabelecido no artigo 37, caput, 
        da Constituição Federal. Em nenhuma hipótese, a Prefeitura Municipal de Fortaleza 
        será responsável pela instalação no equipamento do usuário ou de terceiros, 
        de códigos maliciosos (vírus, trojans, malware, worm, bot, backdoor, spyware, rootkit, 
        ou de quaisquer outros que venham a ser criados), em decorrência da navegação na Internet 
    </p>
    <h5>4. Comunicação</h5>
    <p>
        Sempre que desejar, o usuário poderá entrar em contato com a equipe da plataforma 
        única de autenticação, por meio do sítio <a href="https://COLOCARSÍTIODOFORTALEZABILÍNGUE" target="_blank">(https://COLOCARSÍTIODOFORTALEZABILÍNGUE)</a> 
        para sanar quaisquer dúvidas sobre este Termo de Uso e Política de Privacidade.
       
    </p>
    <h5>5. Proibições</h5>
    <p>
        A Prefeitura por meio da plataforma de autenticação, em nenhuma hipótese, realizará as seguintes ações: envio de e-mails ou ligações (links) com sites, 
        solicitando informações pessoais dos usuários; envio de propagandas de produtos ou serviços comerciais 
        de qualquer natureza; apresentação de avisos ou comunicações publicitárias via serviços digitais, para qualquer propósito.     
    </p>
    <h5>6. Foro</h5>
    <p>
        Quaisquer disputas ou controvérsias oriundas de quaisquer atos praticados no âmbito da utilização dos sítios e/ou aplicativos pelos usuários, 
        inclusive com relação ao descumprimento dos Termos de Uso e Política de Privacidade 
        ou pela violação dos direitos da Prefeitura Municipal de Fortaleza, de outros usuários e/ou de terceiros, 
        inclusive direitos de propriedade intelectual, de sigilo e de personalidade, serão processadas na Comarca de Fortaleza/CE. 
        Os casos omissos poderão ser tratados em uma instância administrativa por meio da Ouvidoria da Prefeitura.        
    </p>
    <h5>7. Alterações e atualização desta Política</h5>
    <p>
        Esta política tem validade indeterminada, podendo ser alterada em seus termos, a qualquer tempo, 
        e a versão deste termo
         de uso será vinculada no ato da aceitação do usuário. Qualquer alteração e/ou atualização 
         destes Termos de Uso e Política de Privacidade passará a vigorar a partir da data de sua publicação no sítio e 
         deverá ser integralmente observada pelos usuários. As alterações a este termo serão publicadas e 
         informadas ao usuário por meio do sítio 
         <a href="https://COLOCARSÍTIODOFORTALEZABILÍNGUE" target="_blank">(https://COLOCARSÍTIODOFORTALEZABILÍNGUE)</a>.    
    </p>
    <h5>8. Direitos autorais e licenças</h5>
    <p>
        A Prefeitura de Fortaleza, por intermédio da Fundação CITINOVA, é proprietária de todos os direitos autorais, 
        marcas, domínios, logotipos, aparência do produto, segredos de empresa, patentes e outros direitos 
        de propriedade intelectual, associados ao produto Fortaleza Bilíngue e tecnologias associadas. 
        É proibido o uso desses direitos autorais, marcas, domínios, logotipos, aparência do produto, segredos de empresa, 
        patentes e outros direitos de propriedade intelectual sem autorização expressa do Município de Fortaleza por 
        meio do seu legítimo representante.
    </p>
    <h5>9. Aceitação do termo e condições de uso</h5>
    <p>
        O usuário declara ter lido, entendido todas as regras, 
        condições e obrigações estabelecidas no presente termo. 
        O usuário está ciente e concorda com a coleta, armazenamento, tratamento, 
        processamento e uso das informações enviadas e/ou transmitidas pelo 
        Fortaleza Bilíngue nos termos estabelecidos nestes Termos de Uso e Política de Privacidade. 
        Ao utilizar o aplicativo o usuário concorda e aceita integralmente as disposições destes 
        Termos de Uso e Política de Privacidade.
    </p>


  </section>
