{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<section class="section-title text-cGreen fs-1 d-flex align-items-center justify-content-center">Cadastro de Condomínio</section>

<section class="my-5 d-flex justify-content-center">
    <div class="card shadow col-10 col-md-6 px-2 px-md-5" >
        <img class="d-block align-self-center mb-1 p-3" src="{% static 'images/logo_recicloMais.png' %}" alt="Logo reciclo mais" width="200" />
        <div class="card-body">
          <h5 class="card-title text-center mb-4 mt-1">Condomínio pré cadastrado com sucesso</h5>

          <h5 class="text-center">Quais as próximas etapas:</h5>

          <div class="alert alert-info d-flex align-items-center" role="alert">
            <i class="fa fa-info text-white bg-primary ball-icon me-2"></i>
            <div class="text-primary">
              Vamos verificar se já atendemos na sua área.
            </div>
          </div>
          <div class="alert alert-info d-flex align-items-center" role="alert">
            <i class="fa fa-info text-white bg-primary ball-icon me-2"></i>
            <div class="text-primary">
              Enviaremos o resultado da validação do seu cadastro.
            </div>
          </div>
          <div class="alert alert-info d-flex align-items-center" role="alert">
            <i class="fa fa-info text-white bg-primary ball-icon me-2"></i>
            <div class="text-primary">
              Caso sua solicitação de agendamento seja deferida, enviaremos uma equipe ao seu endereço para orientar sobre a coleta seletiva
            </div>
          </div>
          <div class="alert alert-info d-flex align-items-center" role="alert">
            <i class="fa fa-info text-white bg-primary ball-icon me-2"></i>
            <div class="text-primary">
              O prazo máximo de espera para o retorno é de até 48 horas.
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <img class="d-block align-self-center my-4" src="{% static 'images/logoPref.png' %}" alt="Logo prefeitura de fortaleza" width="200" />
          </div>
        </div>
      </div>
</section>
{% endblock %}
