{% extends 'app/base.html' %} {% load static %} {% block content %}

<!--carousel-->
<section class="s-banner">
  <div id="carouselBanners" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselBanners"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselBanners"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselBanners"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="{% static 'images/bgGreen01.jpg' %}"
          class="w-100 item-banner_desktop"
          alt="imagem banner verde"
        />
        <img
          src="{% static 'images/bgGreenMobile.jpg' %}"
          class="w-100 item-banner_mobile"
          alt="imagem banner verde"
        />
        <div class="carousel-caption">
          <img
            src="{% static 'images/logo.png' %}"
            class="carousel-itemLogo d-none d-md-block"
            alt="logo missão verde"
          />
          <h2 class="text-green-black">
            Reciclagem e Educação <br />
          </h2>
          <p class="text-black lead">
            Gincana de coleta seletiva 
            de recicláveis de fortaleza
          </p>
          <a href="/#s-about" class="btn btn-success btn-rounded mt-2">Saiba mais</a>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/bgOrange.jpg' %}"
          class="d-block w-100 item-banner_desktop"
          alt="banner rankeamento"
        />
        <img
          src="{% static 'images/bgOrangeMobile.jpg' %}"
          class="w-100 item-banner_mobile"
          alt="banner rankeamento"
        />
        <div class="carousel-caption">
          <img
            src="{% static 'images/logo.png' %}"
            class="carousel-itemLogo d-none d-md-block"
            alt="logo missão verde"
          />
          <h2 class="text-green-black">
            Confira sua pontuação <br />
          </h2>
          <p class="text-black lead">
            Você já está participando? <br> consulte sua pontuação com o número da sua matrícula
          </p>
          <a href="/aluno" class="btn btn-success btn-rounded mt-2">Pontuação aluno</a>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/bannerBlue.jpg' %}"
          class="d-block w-100 item-banner_desktop"
          alt="banner recicles"
        />
        <img
          src="{% static 'images/bannerBlueMobile.jpg' %}"
          class="w-100 item-banner_mobile"
          alt="banner rankeamento"
        />
        <div class="carousel-caption">
          <img
            src="{% static 'images/logo.png' %}"
            class="carousel-itemLogo d-none d-md-block"
            alt="logo missão verde"
          />
          <h2 class="text-green-black">
            Conhece os pontos recicles(Re$) ?<br />
          </h2>
          <p class="text-black lead">
            Pontos recicles, quanto mais você coleta <br>
            materiais pra reciclagem, mais você ganha
          </p>
          <a href="/ecoloja" class="btn btn-success btn-rounded mt-2">Saiba mais</a>
        </div>
      </div>
    </div>
    <!-- <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselBanners"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselBanners"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>
</section>
<!--/carousel-->

<!-- Parceiros-->
<section id="anchorPar" class="s-content s-parceiros">
  <div class="container">
      <div class="row mb-5">
          <div class="col">
              <h2 class="text-center mb-4 text-green-black">Parceiros</h2>
          </div>
      </div>
      <div class="row">

          {% for p in parceiros %}
          <!--for loop div logo parceiros-->
          <div class="col-6 col-lg-3 s-parceiros__block">
              <a href="{{p.get_url}}" target="_blank">
                  <img src="{{p.imagem.url}}" alt="logo parceiro" class="mb-3">
              </a>
          </div>
          <!--/for loop div logo parceiros-->
          {% endfor %}

      </div>
  </div>
</section>
<!--/Parceiros-->

{% endblock %}
